{% extends 'base_generic.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

  {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "Your account doesn't have access to this page. To proceed,
      please login with an account that has access." %}</p>
    {% else %}
      <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
  {% endif %}

  <h4 class="border-bottom mb-4 text-center">{% trans "Login" %}</h4>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button class="boxed-btn3 w-100 mt-4" type="submit">{% trans "Login" %}</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
  {# Assumes you setup the password_reset view in your URLconf #}
  <p class="text-center"><a href="{% url 'password_reset' %}">{% trans "Forgot Password?" %}</a></p>
  <div class="border-top pt-3 text-center">
    <small class="text-muted">
      {% trans "Need An Account?" %} <br> <a class="ml-2" href="{% url 'accounts:register' %}">{% trans "Sign Up Now" %}</a>
    </small>
  </div>
{% endblock content %}
